.spot-card {
    display: flex;
    width: 350px;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.spot-card::after,
.spot-card::before {
    --scale: 0;
    --arrow-size: 10px;
    --tooltip-color: #333;
    position: absolute;
    /* content: attr(data-tooltip); */
    content: '';
    top: 2rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
}

.spot-card::before {
    --translate-y: calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    color: white;
    /* height: 60px; */
    width: max-content;
    text-align: center;
    max-width: 100%;
    padding: .8rem;
    border-radius: .3rem;
    background: var(--tooltip-color);
}

.spot-card:hover::before,
.spot-card::after {
    --scale: 1;
}

.spot-card:hover::after {
    --translate-y: calc(-1 * var(--arrow-size));
    content: '';
    /* width: 10px;
    height: 10px;
    background-color: black; */
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
}

img {
    height: 250px;
    width: 100%;
    border-radius: 10px;
}

.fa-star:before {
    content: none;
}

/* .spot-name {
    font-weight: 200;
    font-size: 1.2em;
} */

.spot-details > h1 {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 0.90em;
    text-decoration: none;
    margin-right: 0;
    margin-bottom: 0%;
    margin-top: 0%;
    color: #000000;
}

.spot-details {
    display: flex;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.spot-details > .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-items: end;
    margin-left: 113px;
    border-left: 0;
}

path {
    display: flex;
    justify-content: end;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-items: end;
    /* border-left: 10px; */
}

.icons > p {
    font-size: small;
    font-weight: bold;
    color: #000000;
}

a > h2 {
    font-size: medium;
    margin-top: 0%;
    color: #000000;
}