.title > h1 {
    font-size: 40px;
    font-weight: normal;
    margin-left: 160px;
}

.all > .spotCards {
    display: grid;
    grid-gap: 1em;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(22.3em, 21em));
}

.all > .create-a-new-spot {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    margin-left: 160px;
    background-color: buttonface;
    padding: 1px 6px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    color: black;
}