.userButton>button {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #ddd;
    height: 45px;
    width: 85px;
    background-color: #fff;
    cursor: pointer;

}

.userButton {
    position: relative;
    display: inline-block;
}

.userButton > button:hover {
    box-shadow: 2px 4px 6px #c7c6c6;
}

.userButton:hover .profile-dropdown.hidden { 
    display: block; 
}

.userIcon {
    color: #717171;
    font-size: 30px;
}

.userInfo {
    display: flex;
    font-size: 18px;
    gap: 8px;
    flex-direction: column;
}

.menuIcon {
    color: #717171;
    font-size: 15px;
}

.profile-dropdown.hidden {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -120px;
}

.profile-dropdown.hidden > .userInfo {
        /* display: none; */
        /* position: relative; */
        /* background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
        /* z-index: 1; */
        left: -120px;
}

.profile-dropdown {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.logIn {
    display: grid;
}

li {
    display: grid;
    justify-content: flex-start;
    margin-right: 80px;
    margin-left: 20px;
    /* margin-top: 2px; */
    margin-bottom: 5px;
    align-items: center;
}

.menuIcon {
    margin-left: 10px;
}

.userIcon {
    margin-right: 10px;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -120px;
    margin-right: 500px;
}

.dropdown-content > .userInfo,
.dropdown-content > .logIn {
    /* color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; */
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.dropdown-content>.userInfo {
    margin-right: 100px;
    left: -130px;
}

.dropdown-content>.logIn {
    z-index: 1;
    left: 0px;
}

.dropdown-content>.userInfo:hover,
.dropdown-content>.logIn:hover {
    background-color: #ddd;
}

.userButton:hover .dropdown-content {
    display: block;
}

.userButton:hover .dropbtn {
    background-color: gray;
}

.manage-the-spot {
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

.logout-button-home {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-left: 50px;
    margin-bottom: 5px;
}

.logout-button-home > button {
    /* border: 2rem;
    background-color: #717171; */
    width: 80px;
    height: 30px;
}
